#oneliner, #oneliner2 {
    font-size: 22px;
    padding: 5px;
    width: 100%;
    left:0;
    font-family: monospace;
    color: #99ff99;
    background: black;
    /*text-shadow: 0px 0px 2px #ffffff;*/
}

#t0, #tmod, #duration, #separation {
    font-size: 16px;
    padding: 5px;
    font-family: monospace;
    color: #99ff99;
    background: black;
    text-shadow: 0px 0px 2px #ffffff;
    text-align: left;
}

#gen {
    font-family: monospace;
    font-size: 30px;
    padding: 10px;
    width: 100%;
}

#canvas {
   left:0;
    top:50%;
    height:50%;
    width:100%;
    position: absolute;
}
#player {
     position: absolute;
    bottom: 50%;
    left:0;
    width: 100%;
}
 